<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WerBoForSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0974BCDB1CB5013B003D5541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0974BCF21CB5013C003D5541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0974BCFD1CB5013C003D5541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
